[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
graphene-django = "*"
django-cors-headers = "*"
pyjwt = "==1.7.0"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.8"
