.App {
  text-align: center;
}



.counter {
  height: 100px;
  width: 200px;
  /* text-align: right; */
  background-color: green;
}

.cards-grid {
  display: flex;
  justify-content: center;
}

.card {
  height: 350px;
  width: 250px;
  margin: 20px;
  background-color: pink;
}
.reset {
  height: 100px;
  width: 200px;
  background-color: red;
}