.App {
  /* background-color: green; */
  background-color: #00b712;
  background-image: linear-gradient(315deg, #00b712 0%, #5aff15 74%);
  width: 100vw;
  height: 100vh;
}

/* .counterContainer {
  width: 100vw;
  display: flex;
  justify-content: center;
} */

.counter {
  height: 100px;
  width: 200px;
  margin-top: 20px;
  background-color: black;
  color: white;
  border-radius: 10px;
  z-index: 2;
}

.resetContainer {
  height: 70px;
  width: 200px;
  position:absolute;
  bottom:20px;
  right: 20px;
  color: yellow;
  border: 1px solid yellow;
  border-radius: 10px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reset {
  /* text-align: center; */
}


.deal {
  height: 100px;
  width: 200px;
  margin-right: 20px;
  background-color: yellow;
  color: black;
  border-radius: 10px;
}


.cards-grid {
  display: flex;
  justify-content: space-between;
}

.card {
  width: 5em;
  height: 7em;
  background-color: #ffffff;
  box-shadow: 0 0.0625em 0.125em rgba(0, 0, 0, 0.15);
  border-radius: 0.25em;
  display: inline-block;
  position: relative;
}




/* Loader */
.lds-heart {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  transform: rotate(45deg);
  transform-origin: 40px 40px;
}
.lds-heart div {
  top: 32px;
  left: 32px;
  position: absolute;
  width: 32px;
  height: 32px;
  background: green;
  animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}
.lds-heart div:after,
.lds-heart div:before {
  content: " ";
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  background: green;
}
.lds-heart div:before {
  left: -24px;
  border-radius: 50% 0 0 50%;
}
.lds-heart div:after {
  top: -24px;
  border-radius: 50% 50% 0 0;
}
@keyframes lds-heart {
  0% {
    transform: scale(0.95);
  }
  5% {
    transform: scale(1.1);
  }
  39% {
    transform: scale(0.85);
  }
  45% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
  }
}
